################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeadSolution/CopilotIndices/17.13.444.19527
/.vs/LeadSolution/FileContentIndex
/DbContext/obj
/Interfaces/bin/Debug/net9.0
/Interfaces/obj
/LeadApi/bin/Debug/net9.0
/LeadApi/obj/Debug/net9.0
/LeadApi/obj
/Models/bin/Debug/net9.0
/Models/obj
/Repositories/bin/Debug/net9.0
/Repositories/obj
/Services/bin/Debug/net9.0
/Services/obj
/Utils/bin/Debug/net9.0
/Utils/obj
/ViewModels/bin/Debug/net9.0
/ViewModels/obj
/.vs/LeadSolution
/.vs/ProjectEvaluation
/.vs
/LeadUI/bin/Debug/net9.0
/LeadUI/obj
/Extentions/bin/Debug/net9.0
/Extentions/obj
/Infrustructure.Interfaces/bin/Debug/net9.0
/Infrustructure.Interfaces/obj
/Application.Interfaces/bin/Debug/net9.0
/Application.Interfaces/obj
/Application.Services/bin/Debug/net9.0
/Application.Services/obj
/Common.Extentions/bin/Debug/net9.0
/Common.Extentions/obj
/Common.Utils/bin/Debug/net9.0
/Common.Utils/obj
/Core.Models/bin/Debug/net9.0
/Core.Models/obj
/Core.ViewModels/bin/Debug/net9.0
/Core.ViewModels/obj
/Infrustructure.Repositories/bin/Debug/net9.0
/Infrustructure.Repositories/obj
/Lead.Api/bin/Debug/net9.0
/Lead.Api/obj
/Lead.UI/bin/Debug/net9.0
/Lead.UI/obj
