@using Core.ViewModels.Dto.Auth.Roles
@model IList<RoleDto>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="AddRole" asp-controller="Auth" class="col-sm-6">
    <div class="input-group">
        <input name="roleName" class="form-control" style="margin-right: 5px">
        <span class="input-group-btn">
            <button class="btn btn-info">Add New Role</button>
        </span>
    </div>
</form>
<br />
<div class="table-responsive">
    <table id="dataTable" class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="info">
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "EditRole", "Roles", new { roleId = role.Id }, new { @class = "btn btn-info btn-sm" })
                        <a href="javascript:void(0);"
                           class="btn btn-danger btn-sm"
                           onclick="confirmDelete('@Url.Action("DeleteRole", "Roles", new { roleId = role.Id })')">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}